<div class="card">

  <div class="card-body">
    <form [formGroup]="signInFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group d-flex flex-row justify-content-around">
        <mat-form-field>
          <mat-label>{{ 'EMAIL' | translate}}</mat-label>
          <div class="flex-fill">
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="displayMessage.email">
              {{displayMessage.email}}
            </mat-error>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group d-flex flex-row justify-content-around">
        <mat-form-field>
          <mat-label>{{ 'PASSWORD' | translate}}</mat-label>
          <div class="flex-fill">
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="displayMessage.password">
              {{displayMessage.password}}
            </mat-error>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group d-flex flex-row justify-content-end">
        <div>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right"
            [disabled]="!signInFormGroup.valid">{{ 'SIGN_IN' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
