<div class="d-flex flex-column">
  <div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">CricScore</a>

      <div
        class="collapse navbar-collapse d-flex justify-content-between"
        id="navbarTogglerDemo03"
      >
        <div *ngIf="auth.user | async as user" class="ml-md-4">
          <strong> Hello {{ user.displayName||user.email }}!</strong>
        </div>
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="signOut()"
        >
          SignOut
        </button>
      </div>
    </nav>
  </div>

  <div class="row">
    <nav class="col-md-2 sidebar bg-light">
      <div class="sidebar-sticky">
        <a class="nav-item nav-link active" href="#"
          >Dashboard <span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" href="#">Feature1</a>
        <a class="nav-item nav-link" href="#">Feature2</a>
      </div>
    </nav>
  </div>
</div>
